body {
    background-color:#ffffff;
}

#screen {
    position: relative;
    left: 300px;
    top: 100px;
    width: 800px;
    height: 600;
    background: white;
    margin: -1px;
    border: 1px solid black;
    background-color: black;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}

/* game content */

#game_content_1, #game_content_2 {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

/* game_content 1 */

#game_content_1 {
    color: white;
    bottom: 80px;
    left: 25px;
}

#lives, #lives_count {
    display:inline-block
}

/* game_content 2 */

#game_content_2 {
    color: white;
    bottom: 690px;
    padding-left: 20px;
    left: 25px;
}

#score_count {
    position: relative;
    bottom: 25px;
    left: 20px;
}

#Debugger {
    position: relative;
    bottom: 95%;
    left: 55%;
    color: lawngreen;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}