body {
    background-color:#ffffff;
}

/* press-start-2p-regular - latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/press-start-2p-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/press-start-2p-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/press-start-2p-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/press-start-2p-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/press-start-2p-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/press-start-2p-v9-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}

#screen {
    position: relative;
    left: 300px;
    top: 100px;
    width: 800px;
    height: 600;
    background: white;
    margin: -1px;
    border: 1px solid black;
    background-color: black;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}

/* game content */

#game_content_1, #game_content_2 {
    position: relative;
    font-family: 'Press Start 2P';
    font-size: 25px;
}

/* game_content 1 */

#game_content_1 {
    color: white;
    bottom: 80px;
    left: 25px;
}

#lives, #lives_count {
    display:inline-block
}

/* game_content 2 */

#game_content_2 {
    color: white;
    bottom: 690px;
    padding-left: 20px;
    left: 25px;
}

#score_count {
    position: relative;
    bottom: 25px;
    left: 20px;
}

#Debugger {
    position: relative;
    bottom: 95%;
    left: 55%;
    color: lawngreen;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}